.venv/
venv/
__pycache__/
*.py[cod]
.env
uploads/
app/static/generated/
.pytest_cache/
.mypy_cache/
*.egg-info/
dist/
build/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
